body,
html {
    /* width: 100vw;
    height: 100vh; */
}

.AppContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AppContent {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}