@font-face {
	font-family: Roboto-Medium;
	src: url('./../../asset/font/Roboto-Medium.ttf');
}

.AppContainer {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.AppContent {
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	border: 1px solid #ccc;
	/* border-radius: 10px;
	box-shadow: inset 0 0 8px rgba(102, 175, 233, .6); */
}
