.AppContainer {
    /* position: relative; */
    width: 100%;
    height: 98vh;
  }
  
  .AppContent {
    /* position: absolute; */
    top: 0;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
    width: 100%;
  }
  